.general {
  display: flex;
  min-height: 100vh; /* Ocupa, como mínimo, toda la altura de la pantalla */
  padding: 0 0.5rem; /* Añade un relleno horizontal */
  flex-direction: column; /* Apila los elementos (header, div) uno encima del otro */
  align-items: center; /* alineacion horizontal */
  justify-content: top; /* alineacion vertical */
}

.header{
  display: flex;
  flex-direction: column; 
  align-items: center; /* alineacion horizontal */
  /* El margin de abajo se aplica a los 4 lados. Intenta agregarle un ' 0' al final para que los lados queden en 0 */
  margin: clamp(2rem, 3vw, 4rem) 0;
}

.div-centrado{
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal */
  gap: clamp(2rem, 3vw, 4rem); 
  /* Igual que en .header, te sugiero agregarle el ' 0' al final a este margin para que no sume espacio horizontal extra */
  margin: clamp(2rem, 3vw, 4rem) 0;
}

.div-izquierda{
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Horizontal */
  gap: clamp(2rem, 3vw, 4rem); 
}

.youtube-video{
  display: flex;
  flex-direction: column;
  align-self: center; /* Horizontal */
  border: none;
  /* Tamaño del recuadro del video */
  width: 100%; /* Ocupará el 100% del contenedor padre en celulares */
  max-width: 50rem; /* Pero no crecerá más de 50rem en PC */
  aspect-ratio: 16 / 9; /* Mantiene la proporción original del video */
  height: auto; /* La altura se calcula sola basada en el ancho */
}