/* Paleta de colores
  Rosa pastel
  Negro
  Dorado
  Rojo vino
  Verde claro
*/
/* Cosas que le gusten
  My Sweet Piano
  Skzoo de Hyunjin (Jinniret)
  Lambie de Doctora Juguetes
  Ternurines
*/
/* Canciones/Artistas
  BTS
  Zoé
  Fuerza Regida
  Bad Bunny
  Raw Alejandro

  Best of me - BTS
  Ego - J-Hope
  Playing with fire - Blackpink
*/
body {
  background-color: pink;
}

h1 {
  font-size: 56px;
  color: #5e2129;
  letter-spacing: -1.68px;
  margin: 32px 0;
}
p {
  font-size: 28px;
  color: black;
  letter-spacing: -1.68px;
  margin: 32px 0;
}
